* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box; }

body {
  background-image: url("../assets/background/asfalt.png");
  background-position: center;
  line-height: 2; }

img {
  max-width: 100%; }

.header {
  background-image: url("../assets/img/bannerprincipal.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
  max-height: 450px;
  margin: auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "logo nav nav social"; }

.logo {
  grid-area: logo;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 100%; }

.nav {
  grid-area: nav;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly; }
  .nav .nav__ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-around; }
    .nav .nav__ul .header__links {
      text-decoration: underline;
      color: black;
      font-weight: 500;
      transition: color 10ms; }
      .nav .nav__ul .header__links:hover {
        color: #dc1d25;
        font-weight: bold; }

.social {
  width: 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center; }

.header__socialicons {
  max-width: 30px;
  max-height: 30px;
  transition: max-widht, max-height 1s; }
  .header__socialicons:hover {
    max-width: 40px;
    max-height: 40px; }

.navbar-nav {
  width: 100%; }

.navbar-brand {
  padding-left: 1,5rem; }

.nav-link--header {
  text-decoration: underline;
  color: black;
  font-weight: 500;
  transition: color 10ms; }
  .nav-link--header:hover {
    color: #dc1d25;
    font-weight: bold; }

/*Footer*/
.footer {
  height: 300px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 300px 30px;
  grid-template-areas: "logo nav contact social" ". parrafo parrafo .";
  background-image: linear-gradient(to right, white, grey); }

.footer__logo {
  grid-area: logo;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center; }
  .footer__logo img {
    object-fit: none;
    animation-name: logo-footer;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 5s; }

@keyframes logo-footer {
  0% {
    transform: rotateX(0deg); }
  25% {
    transform: rotateX(45deg); }
  50% {
    transform: rotateX(90deg); }
  75% {
    transform: rotateX(180deg); }
  100% {
    transform: rotateX(360deg); } }

.footer__lists {
  list-style: none; }

.footer__nav {
  text-decoration: none;
  list-style: none;
  grid-area: nav;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 100%; }
  .footer__nav .footer__nav--link {
    color: black;
    text-decoration: underline;
    text-decoration-color: black; }

.foooter__contact {
  grid-area: contact;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center; }
  .foooter__contact .footer__contactlists {
    list-style: none;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 20px; }
    .foooter__contact .footer__contactlists .foooter__contacticons {
      size: 20px; }

.foooter__social {
  grid-area: social;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly; }
  .foooter__social .footer__socialicons {
    max-width: 40px;
    max-height: 40px; }

.footer__parrafos {
  grid-area: parrafo;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  flex-direction: column;
  color: white; }
  .footer__parrafos .footer__parrafos--p {
    font-size: 10px;
    text-align: center; }

@media screen and (max-width: 990px) {
  .social {
    padding-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center; }
  .header__socialicons {
    padding-left: 20px;
    max-width: 50px;
    max-height: 50px; }
  .footer {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 180px 180px 80px 40px;
    grid-template-areas: "logo"  "nav"  "contact"  "social"  "parrafo";
    background-image: none;
    width: 100%;
    height: 540px; }
  .footer__logo {
    grid-area: logo;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center; }
  .footer__logo img {
    object-fit: none;
    animation-name: logo-footer;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 5s; }
  .footer__lists {
    list-style: none; }
  .footer__nav {
    list-style: none;
    grid-area: nav;
    display: flex;
    justify-content: space-evenly;
    width: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start; }
  .footer__nav ul {
    padding: 0;
    margin: auto;
    font-size: 15px; }
  .footer__nav--link {
    color: black;
    text-decoration: underline;
    text-decoration-color: black; }
  .foooter__contact {
    grid-area: contact;
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%; }
  .foooter__contact ul {
    padding: 2%;
    margin: 0%; }
  .footer__contactlists {
    list-style: none;
    font-size: 15px;
    width: 100%; }
  .foooter__contacticons {
    display: none; }
  .foooter__social {
    grid-area: social;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    padding: 2%; }
  .footer__socialicons {
    max-width: 40px;
    max-height: 40px; }
  .footer__parrafos {
    grid-area: parrafo;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    color: white;
    background-image: url("../assets/background/asfalt.png");
    height: 100%; }
  .footer__parrafos--p {
    font-size: 9px; } }

@media screen and (max-width: 575px) {
  .footer {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 180px 180px 80px 40px;
    grid-template-areas: "logo"  "nav"  "contact"  "social"  "parrafo";
    background-image: none;
    width: 100%;
    height: 540px; }
  .footer__logo {
    grid-area: logo;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center; }
  .footer__logo img {
    object-fit: none;
    animation-name: logo-footer;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 5s; }
  .footer__lists {
    list-style: none; }
  .footer__nav {
    list-style: none;
    grid-area: nav;
    display: flex;
    justify-content: space-evenly;
    width: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start; }
  .footer__nav ul {
    padding: 0;
    margin: auto;
    font-size: 15px; }
  .footer__nav--link {
    color: black;
    text-decoration: underline;
    text-decoration-color: black; }
  .foooter__contact {
    grid-area: contact;
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%; }
  .foooter__contact ul {
    padding: 2%;
    margin: 0%; }
  .footer__contactlists {
    list-style: none;
    font-size: 15px;
    width: 100%; }
  .foooter__contacticons {
    display: none; }
  .foooter__social {
    grid-area: social;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    padding: 2%; }
  .footer__socialicons {
    max-width: 40px;
    max-height: 40px; }
  .footer__parrafos {
    grid-area: parrafo;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    color: white;
    background-image: url("../assets/background/asfalt.png");
    height: 100%; }
  .footer__parrafos--p {
    font-size: 9px; } }

/*Main Index*/
.titulo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas: ". titulo parrafo parrafo" "foto foto foto foto";
  padding-top: 40px; }
  .titulo h1 {
    font: bold 50px "Montserrat";
    color: white;
    grid-area: titulo;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center; }
  .titulo p {
    color: white;
    font-size: 18px;
    grid-area: parrafo;
    text-align: justify;
    align-self: center;
    padding-right: 100px; }
  .titulo .fotosindex {
    grid-area: foto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px; }
    .titulo .fotosindex .fotosindex__img {
      width: 450px;
      min-width: 250px; }

.sponsors {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 200px;
  grid-template-areas: ". titulo ." "sponsor sponsor sponsor";
  width: 100%; }

.sponsors__h2 {
  grid-area: titulo;
  color: #dc1d25;
  text-align: center;
  align-self: center;
  text-decoration: underline;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 1px -2px 2px #827e79; }

.sponsors__imgcontainer {
  grid-area: sponsor;
  display: flex;
  justify-content: space-around;
  align-self: center; }

.sponsors__img {
  min-width: 75px; }

.videoindex {
  max-width: 1080px;
  margin: auto;
  padding: 20px; }

.videoindex__container {
  height: 0px;
  width: 100%;
  padding-top: 56.25%;
  position: relative; }

.videoindex__vid {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px; }

@media screen and (max-width: 990px) {
  /*Main Index*/
  .titulo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "titulo"  "parrafo" "fotos";
    width: 100%;
    height: max-content;
    padding: 2%;
    margin: auto; }
  .titulo__h1 {
    font-size: 40px;
    text-align: center;
    color: white;
    grid-area: titulo;
    font-weight: bold;
    margin-top: 0;
    margin: auto;
    padding-top: 0; }
  .titulo__p {
    color: white;
    font-size: 16px;
    grid-area: parrafo;
    text-align: justify;
    align-self: center;
    padding: 2%; }
  .fotosindex {
    display: none; }
  .fotosindex__img {
    width: 200px; }
  .sponsors__img {
    height: 100px;
    width: 200px; } }

@media screen and (max-width: 620px) {
  .titulo__h1 {
    font: bold 30px "Montserrat"; } }

/* Media Query */
@media screen and (max-width: 990px) {
  .titulo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "titulo"  "parrafo" "foto";
    padding-top: 20px; }
    .titulo h1 {
      font: bold 50px "Montserrat";
      color: white;
      grid-area: titulo;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%; }
    .titulo p {
      color: white;
      font-size: 18px;
      grid-area: parrafo;
      text-align: center;
      align-self: center;
      padding-right: 30px;
      padding-left: 30px; }
    .titulo .fotosindex {
      grid-area: foto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: space-around;
      padding-top: 30px;
      padding-bottom: 30px; }
      .titulo .fotosindex .fotosindex__img {
        padding-top: 20px;
        width: 450px;
        min-width: 250px; } }

/* Escuderia */
.escuderiacontainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "titulo titulo titulo titulo" "historia historia filosofia filosofia" "titulos titulos titulos titulos" "foto foto foto foto";
  cursor: default; }
  .escuderiacontainer .titulopagina__h1--escuderia {
    font: bold 50px "Montserrat";
    color: white;
    grid-area: titulo;
    text-align: center;
    line-height: 1.5;
    text-decoration: underline;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url("../assets/background/asfalt.png"); }

.escuderiacontainer__h2 {
  text-align: center;
  padding-bottom: 20px;
  font-size: 35px; }

.escuderiacontainer__p {
  text-align: justify; }

.escuderiacontainer__li {
  text-align: center;
  list-style: none; }

.escuderiacontainer__historia {
  background-color: white;
  margin: 30px;
  padding: 30px;
  transition: background-image 2s;
  grid-area: historia; }
  .escuderiacontainer__historia:hover {
    background-image: linear-gradient(white, grey);
    transform: translate(15px); }

.escuderiacontainer__titulos {
  background-color: white;
  margin: 30px;
  padding: 30px;
  transition: background-image 2s;
  grid-area: titulos;
  align-self: center; }
  .escuderiacontainer__titulos:hover {
    background-image: linear-gradient(white, grey);
    transform: translatey(-15px); }

.escuderiacontainer__filosofia {
  background-color: white;
  margin: 30px;
  padding: 30px;
  transition: background-image 2s;
  grid-area: filosofia; }
  .escuderiacontainer__filosofia:hover {
    background-image: linear-gradient(white, grey);
    transform: translate(15px); }

.escuderia__imgcontainer {
  grid-area: foto;
  margin: 30px; }

.escuderia__img {
  object-fit: cover;
  width: 100%; }

@media screen and (max-width: 990px) {
  .escuderiacontainer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "titulo titulo titulo "  "historia historia historia"  "filosofia filosofia filosofia"  "titulos titulos titulos"  "foto foto foto "; }
  .escuderiacontainer__titulos {
    grid-area: titulos;
    background-color: white;
    margin: 30px;
    padding: 30px;
    align-self: center; }
  .escuderiacontainer__filosofia {
    grid-area: filosofia;
    background-color: white;
    margin: 30px;
    padding: 30px; }
  .escuderiacontainer__historia {
    grid-area: historia;
    background-color: white;
    margin: 30px;
    padding: 30px; }
  .escuderia__imgcontainer {
    grid-area: foto;
    margin: 30px; } }

@media screen and (max-width: 620px) {
  .titulopagina__h1--escuderia {
    font: bold 30px "Montserrat"; } }

/* Noticias */
.titulopagina__h1, .titulopagina__h1--galeria {
  display: block;
  font: bold 50px "Montserrat";
  color: white;
  text-align: center;
  line-height: 1.5;
  text-decoration: underline;
  padding-top: 20px;
  padding-bottom: 30px; }

.botonnoticias {
  background-color: #dc1d25;
  color: #fff;
  font-weight: 500; }
  .botonnoticias:hover {
    opacity: .9; }

.page-item {
  border: 2px solid #dc1d25;
  border-radius: 5px; }

.page-link {
  color: #dc1d25;
  font-weight: 500; }
  .page-link:hover {
    background-color: #dc1d25;
    color: #fff; }

/* Contacto */
.botoncontacto {
  background-color: #dc1d25;
  border-radius: 10px;
  border: 2px solid black;
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
  color: white;
  margin-top: 30px; }

/* Galeria */
.galeriacontainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
  grid-gap: 20px;
  padding: 20px; }

.galeria__foto {
  width: 100%;
  align-self: center; }
