//Variables
$h1-titulos: bold 50px 'Montserrat';
$h1-titulosquery: bold 30px 'Montserrat';
$h1-color: white;

//Maps
$paleta-colores: (
    negro: #0000 ,
    rojo: #dc1d25 ,
    verde:  #07a44f ,
    verdeoscuro: #24593a ,
    grisclaro: #eff1ef ,
    grismedio: #aeabab ,
    grisoscuro: #827e79 ,
    blanco: #fff,
);

/* Contacto */

.botoncontacto{
    background-color: map-get($map: $paleta-colores, $key: rojo);
    border-radius: 10px;
    border: 2px solid black;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    color: white;
    margin-top: 30px;
}

