.header{
    background-image: url('../assets/img/bannerprincipal.png');
    background-position:bottom;
    background-repeat: no-repeat;
    background-size:contain;
    background-color: white;
    max-height: 450px;
    margin: auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "logo nav nav social";
}


.logo{
    grid-area: logo;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 100%;
}

.nav{
    grid-area: nav;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
.nav__ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-around;
.header__links{
    text-decoration: underline;
    color: black;
    font-weight: 500;
    transition: color 10ms;
        &:hover{
            color: red;
            font-weight: bold;}

			}
		}
	}

.social{
    grid-area: social;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
.header__socialicons{
    max-width: 30px;
    max-height: 30px;
    transition: max-widht, max-height 1s;
        &:hover{
            max-width: 40px;
            max-height: 40px;
        }
    }
}