*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body{
    background-image: url('../assets/background/asfalt.png');
    background-position: center;
    line-height: 2;
}

img{
    max-width: 100%;
}