@import "normalize";
@import "headeryfooter";
@import "index";
@import "escuderia";
@import "noticias";
@import "contacto";

//Variables
$h1-titulos: bold 50px 'Montserrat';
$h1-titulosquery: bold 30px 'Montserrat';
$h1-color: white;

//Maps
$paleta-colores: (
    negro: #0000 ,
    rojo: #dc1d25 ,
    verde:  #07a44f ,
    verdeoscuro: #24593a ,
    grisclaro: #eff1ef ,
    grismedio: #aeabab ,
    grisoscuro: #827e79 ,
    blanco: #fff,
);

/* Noticias */

.titulopagina__h1{
        display: block;
        font: $h1-titulos;
        color: $h1-color;
        text-align: center;
        line-height: 1.5;
        text-decoration: underline;
        padding-top: 20px;
        padding-bottom: 30px;
        
    }

/* Galeria */

.titulopagina__h1--galeria{
    @extend .titulopagina__h1;
}

.galeriacontainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:  repeat(3,1fr);
    grid-template-areas: "foto1 foto2"
                            "foto3 foto4"
                            "foto5 foto6"
                            "video video";
    justify-items: center;
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
    row-gap: 20px;
    column-gap: 20px;
    border-radius: 10px;
    height: max-content;
}

.galeriacontainer div{
    border: 5px solid white;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    margin: auto;
}

.galeriacontainer div p{
    text-align: center;
}  

.galeriacontainer div img{
    max-width: 450px;
    object-fit: cover;
    transition: max-widht 1s;
}

.galeriacontainer div img:hover{
    max-width: 600px;
}

.galeria__foto2{
    grid-area: foto2;
}

.galeria__foto2{
    grid-area: foto2;
}

.galeria__foto3{
    grid-area: foto3;
}

.galeria__foto4{
    grid-area: foto4;
}

.galeria__foto5{
    grid-area: foto5;
}

.galeria__foto6{
    grid-area: foto6;
}

.galeria__video{
    grid-area: video;
    width: 720px
}

