@import "normalize";
@import "headeryfooter";
@import "index";
@import "escuderia";
@import "noticias";
@import "contacto";
@import "galeria";

//Variables
$h1-titulos: bold 50px 'Montserrat';
$h1-titulosquery: bold 30px 'Montserrat';
$h1-color: white;






