*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body{
        background-image: url('../assets/background/asfalt.png');
        background-position: center;
        line-height: 2;
        
}

.header{
    background-image: url('../assets/img/bannerprincipal.png');
    background-position:bottom;
    background-repeat: no-repeat;
    background-size:contain;
    background-color: white;
    max-height: 450px;
    margin: auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "logo nav nav social";
}


.logo{
    grid-area: logo;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 100%;
}

.nav{
    grid-area: nav;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
.nav__ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-around;
.header__links{
    text-decoration: underline;
    color: black;
    font-weight: 500;
    transition: color 10ms;
        &:hover{
            color: red;
            font-weight: bold;}

			}
		}
	}

.social{
    grid-area: social;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
.header__socialicons{
    max-width: 30px;
    max-height: 30px;
    transition: max-widht, max-height 1s;
        &:hover{
            max-width: 40px;
            max-height: 40px;
        }
    }
}

/*Footer*/

.footer{
    height: 300px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 300px 30px;
    grid-template-areas: "logo nav contact social"
                            ". parrafo parrafo .";
    background-image: linear-gradient(to right, white,grey)
}

.footer__logo{
    grid-area: logo;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    img{
        object-fit: none;
        animation-name: logo-footer;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-duration: 5s;
        @keyframes logo-footer {
            0%{ transform: rotateX(0deg);}
            25%{ transform: rotateX(45deg)}
            50%{ transform: rotateX(90deg);}
            75%{ transform: rotateX(180deg)}
            100%{ transform: rotateX(360deg);}
        }
    }

}



.footer__lists{
    list-style: none;
    }

.footer__nav{
    text-decoration: none;
    list-style: none;
    grid-area: nav;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    .footer__nav--link{
        color: black;
        text-decoration: underline;
        text-decoration-color: black;
    }
}

.foooter__contact{
    grid-area: contact;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    .footer__contactlists{
        list-style: none;
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: flex-end;
        padding-bottom: 20px;
        .foooter__contacticons{
            size: 20px;    
        
        }
    }
}

.foooter__social{
    grid-area: social;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    .footer__socialicons{
        max-width: 40px;
        max-height: 40px;            
    }
}

.footer__parrafos{
    grid-area: parrafo;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    flex-direction: column;
    color: white;
    .footer__parrafos--p{
        font-size: 10px;
        text-align: center;
    }
}

/*Main Index*/

.titulo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 30% 70%;
    height: 750px;
    grid-template-areas: ". titulo parrafo parrafo"
    "foto foto foto foto";
    padding-top: 40px;
    h1{
        font-size: 50px;
        font-weight: bold;
        align-self: center;
        text-align: left;
        color: white;
        grid-area: titulo;
        line-height: initial;}
        p{
            color: white;
            font-size: 18px;
            grid-area: parrafo;
            text-align: justify;
            align-self: center;
            padding-right: 100px;
        }
        .fotosindex{
            grid-area: foto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: space-around;
            padding-top: 30px;
            padding-bottom: 30px;
            .fotosindex__img{
                width: 450px;
            }
        }
    }

.sponsors{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 200px;
    grid-template-areas: ". titulo ."
                        "sponsor sponsor sponsor";
                        
}

.sponsors__h3{
    grid-area: titulo;
    color: black;
    text-align: center;
    align-self: center;
    text-decoration: underline;
    font-size: 25px;
    font-weight: 600;
} 

.sponsors__img{
    grid-area: sponsor;
    display: flex;
    justify-content: space-around;
    align-self: cen;
}

.videoindex{
    padding: 30px;
    display: flex;
    justify-content: center;
    
}

/* Noticias */

.titulopagina__h1{
    display: block;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    line-height: 1.5;
    color: white;
    text-decoration: underline;
    padding-top: 20px;
    padding-bottom: 30px;
    }

.noticias__container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 15% 85%;
    grid-template-areas: "titulo titulo"
                        "articulos articulos";
    margin-right: 5%;
    margin-left: 5%;
}

.titulopagina__noticias{
    grid-area: titulo;
    }

.noticias__article{
    padding-left: 2%;
    padding-right: 2%;
}

.articlecontainer{
    grid-area: articulos;
    display: flex;
}


.noticias__titulos{
    padding-bottom: 5px;
    color: black;
    text-decoration: underline;
    background-color: white;
    text-align: center;
}

.noticias__bajada{
    color: black;
    background-color: white;
    text-align: center;
    width: 100%;
    padding-bottom: 15px;
}

.noticias__p{
    color: black;
    background-color: white;
    text-align: justify;
    width: 100%;
    padding: 10px;
    
}

.noticias__img{
    background-color: white;
    width: 100%;
}

.separador{
    height: 80px;
}

.separador__h2{
    display: block;
    text-align: center;
    color: white;
    text-decoration: underline;
    font-size: 35px;    
}

/* Escuderia */

.escuderiacontainer{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
        grid-template-areas:    "titulo titulo titulo titulo"
                            "historia historia filosofia filosofia"
                            "titulos titulos titulos titulos"
                            "foto foto foto foto";
    cursor: default;
}

.escuderiacontainer__titulos{
    grid-area: titulos;
    background-color: white;
    margin: 30px;
    padding: 30px;
    align-self: center;
    transition: background-image 2s;

}

.escuderiacontainer__titulos:hover{
    background-image: linear-gradient(white, grey);
    transform: translatey(-15px);
}


.escuderiacontainer__filosofia{
    grid-area: filosofia;
    background-color: white;
    margin: 30px;
    padding: 30px;
    transition: background-image 2s;
}

.escuderiacontainer__filosofia:hover{
    background-image: linear-gradient(white, grey);
    transform: translate(-15px);
    
}


.escuderiacontainer__historia{
    grid-area: historia;
    background-color: white;
    margin: 30px;
    padding: 30px;
    transition: background-image 2s;
}

.escuderiacontainer__historia:hover{
    background-image: linear-gradient(white, grey);
    transform: translate(15px);
    
}


.escuderia__imgcontainer{
    grid-area: foto;
    margin: 30px;
}

.escuderia__img{
    object-fit: cover;
    width: 100%;
}

.titulopagina__h1--escuderia{
    grid-area: titulo;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    line-height: 1.5;
    text-decoration: underline;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    background-image: url('../assets/background/asfalt.png');
    }

.escuderiacontainer__h2{
    text-align: center;
    padding-bottom: 20px;
    font-size: 35px;
}

.escuderiacontainer__p{
    text-align: justify;
}

.escuderiacontainer__li{
    text-align: center;
    list-style: none;
    
}

/* Galeria */

.galeriacontainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:  repeat(3,1fr);
    grid-template-areas: "foto1 foto2"
                            "foto3 foto4"
                            "foto5 foto6"
                            "video video";
    justify-items: center;
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
    row-gap: 20px;
    column-gap: 20px;
    border-radius: 10px;
    height: max-content;
}

.galeriacontainer div{
    border: 5px solid white;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    margin: auto;
}

.galeriacontainer div p{
    text-align: center;
}  

.galeriacontainer div img{
    max-width: 450px;
    object-fit: cover;
    transition: max-widht 1s;
}

.galeriacontainer div img:hover{
    max-width: 600px;
}

.galeria__foto2{
    grid-area: foto2;
}

.galeria__foto2{
    grid-area: foto2;
}

.galeria__foto3{
    grid-area: foto3;
}

.galeria__foto4{
    grid-area: foto4;
}

.galeria__foto5{
    grid-area: foto5;
}

.galeria__foto6{
    grid-area: foto6;
}

.galeria__video{
    grid-area: video;
    width: 720px
}

/* Contacto */

.form{
    color: white;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row: auto auto auto;
    grid-template-areas: "titulo titulo"
                            "form form"
                            "redes datos";
    column-gap: 30px;
    margin: 30px;
}

.form h1{
    text-align: center;
    padding-top: 15px;
    padding: 15px;
    color: white;
    grid-area: titulo;
}

.formulario{
    grid-area: form;
    padding-bottom: 40px;
}

.form fieldset{
    margin-right: 5%;
    margin-left: 5%;
    border: 5px;
    color: white;
    border-style: solid;
    border-radius: 10px;
    background-color: white;
    padding-bottom: 25px;
    }

.form h2{
    padding: 30px;
    text-align: center;
    color: black;
}

.form p{
    font-weight:400;
    text-align: center;
    color: black;
    }

.contactodatos input{
    width: 500px;
    height: 15px;
}

.nuestrasRedes{
    grid-area: redes;
    background-color: white;
    margin-left: 10%;
    border-radius: 10px;
    }

.nuestrasRedes h2{
    color: black;
    text-align: center;
    text-decoration: underline;
}

.nuestrasRedes img{
    width: 50px;
}

.nuestrasRedes__div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.datosContacto{
    grid-area: datos;
    background-color: white;
    margin-right: 10%;
    border-radius: 10px;
    }

.datosContacto h2{
    color: black;
    text-align: center;
    text-decoration: underline;
}

.datosContacto p{
    color: black;
    font-weight:bold;
}

.datosContacto ul{
    display: flex;
    flex-direction: column;
    padding-bottom: 35px;
}

.datosContacto li{
    list-style: none;
}

.botoncontacto{
    background-color: red;
    border-radius: 10px;
    border: 3px solid black;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    color: white;
    margin-top: 30px;
}

.contactotextarea{
    width: 50%;
    height: 300px;
    border: solid 2px black;
    border-radius: 10px;
}

.textarea{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
}

.contactodatos{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: space-around;
    flex-wrap: wrap;
}

/* Media Query */

@media screen and (min-width: 768px) and (max-width: 904px) {
    .logo{
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .nav{
        grid-column: 1/5;
        grid-row: 2/3;
    }

    .social{
        grid-column: 3/5;
        grid-row: 1/2;
    }

    .titulo{
        grid-template-areas: "titulo titulo titulo"
                            "parrafo parrafo parrafo"
                            "foto foto foto";
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 20% 20% 60%;
    }

    .titulo__h1{
        grid-area: titulo;
        text-align: center;
    }

    .titulo__p{
        grid-area: parrafo;
        text-align: center;
        padding: 10%;
    }

    .fotosindex{
        grid-area: foto;
    }

    .fotosindex__img{
        max-width: 300px;
    }
    
    .escuderiacontainer{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto;
        grid-template-areas:    "titulo titulo titulo "
                            "historia historia historia"
                            "filosofia filosofia filosofia"
                            "titulos titulos titulos"
                            "foto foto foto ";
}

.escuderiacontainer__titulos{
    grid-area: titulos;
    background-color: white;
    margin: 30px;
    padding: 30px;
    align-self: center;
}

.escuderiacontainer__filosofia{
    grid-area: filosofia;
    background-color: white;
    margin: 30px;
    padding: 30px;
}

.escuderiacontainer__historia{
    grid-area: historia;
    background-color: white;
    margin: 30px;
    padding: 30px;
}

.escuderia__imgcontainer{
    grid-area: foto;
    margin: 30px;
}

.galeriacontainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  repeat(6,1fr);
    grid-template-areas: "foto1" 
                        "foto2"
                            "foto3" 
                            "foto4"
                            "foto5"
                            "foto6"
}

.form{
    color: white;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row: auto auto auto auto;
    grid-template-areas: "titulo titulo"
                            "form form"
                            "redes redes"
                            "datos datos";
}

.nuestrasRedes{
    margin-left: 0%;
    margin-bottom: 2%;
    padding-bottom: 15px;
    }

.datosContacto{
    margin-right: 0%;

}
.contactotextarea{
    width: 75%;
}

.footer__parrafos{
    height: 40px;
    padding: 10px;
}
}